---
import Navigation from '../components/Navigation.astro';
import Hamburger from '../components/Hamburger.astro';

const { headline } = Astro.props;
---
<header>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
    <h1>{headline}</h1>
</header>

<style>
@media (min-width: 760px) {
    header {
       width: 80%;
       margin: 0 auto;
    }
 }
 </style>