---
import { Image } from 'astro:assets';

const images = await Astro.glob('/src/assets/*.{jpeg,jpg,png}');
---
<ul class="gallery">
   {
      images.map((img) => (
         <li>
            <Image src={img.default} alt='' width="320"/>
         </li>
      ))
   }
</ul>

<style>
   ul {
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 10px;
      padding: 0;

      &:after {
         content: '';
         display: block;
         flex-grow: 10;
      }
   }

   li {
      height: 100vh;
      list-style-type: none
   }

   img {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
      vertical-align: bottom;
   }

   @media (min-height: 480px) {
      li {
         height: 25vh;
      }
   }

   @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
      ul {
         flex-direction: row;
      }

      li {
         height: auto;
         width: 100%;
      }

      img {
         width: 100%;
         max-height: 75vh;
         min-width: 0;
      }
   }


   @media (min-height: 760px) {
      li {
         height: 20vh;
      }
   }

   @media (min-height: 1240px) {
      li {
         height: 15vh;
      }
   }
</style>