---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { pageTitle, headline } = Astro.props;
---

<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script
			type="text/partytown"
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-8W6GSY6QMV"
		></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-8W6GSY6QMV");
		</script>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header headline={headline} />
		<slot />
		<Footer />
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
